<!DOCTYPE html>
<html>
  <head>
    <title>Coding Block</title>
    <link rel="stylesheet" type="text/css" href="./static/home.css" />
  </head>
  <body>
    <header>
      <h1>Coding Block</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Membership</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </nav>
    <main>
      <h2>Idea to software, fast</h2>
      <p>
        Build software collaboratively with the power of AI, on any device,
        without spending a second on setup
      </p>
      <a href="/sign-up"><button>Sign Up</button></a>
      <a href="/login"><button>Log In</button></a>
    </main>
  </body>
</html>
